{% extends "base.html" %}

{% block extrahead %}
<script type="module" defer>
  import { polyfillCountryFlagEmojis } from "https://cdn.skypack.dev/country-flag-emoji-polyfill";
  polyfillCountryFlagEmojis();
</script>

<style>
#flag {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}
</style>

{% block calljs %}
<script>window.SavvyCal=window.SavvyCal||function(){(SavvyCal.q=SavvyCal.q||[]).push(arguments)};</script>
<script async src="https://embed.savvycal.com/v1/embed.js"></script>
<script>
  SavvyCal('init', {
   widget: {
      enabled: true,
      link: 'yrashk/chat?d=30',
      prompt: 'Schedule a call',
      backgroundColor: "#D63964",
      textColor: "#FFFFFF",
      theme: 'os',
      delay: 1000,
      position: 'bottom-left'
    }
  })
</script>
{% endblock calljs %}
{% endblock %}

{% block announce %}
<span id="flag">🇺🇦</span> Please support Ukrainians in their fight against Russian invaders. Your help and donations are invaluable.
{% endblock %}
